*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #448aff;
    font-family: 'Roboto', sans-serif;
        
}
.container{
    height: 60vh;
    width: 50%;
    border-radius: 10px;
    background-color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 0 20px rgba(0, 139, 253, 0.25); */
}

.section-one{
    margin-bottom: 5%;
    font-size: 5rem;
}
.txt{
    font-size: 2rem;
    color: red;
}
.btn-container{
    width: 100%;
    margin-top: 5%;
    /* text-align: center; */
}
.btn{
    width: 20%;
    height: 50px;
    margin-left:  10%;
    font-size: 1.8rem;
    color: white;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
#stop{
    background-color: #213363;
}

#start{
    background-color:#B31312 ;
}
#reset{
    background-color: #47A992;
}

@media (max-width:1000px){
    .main-container{
        height: 100vh;
        width: 100vw;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        background: #448aff;
        font-family: 'Roboto', sans-serif;
            
    }
    .container{
        height: 60vh;
        width: 90%;
        border-radius: 10px;
        background-color: white;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* box-shadow: 0 0 20px rgba(0, 139, 253, 0.25); */
    }
    .section-one{
        margin-bottom: 6%;
        font-size: 3.2rem;
    }
    .txt{
        font-size: 1rem;
        color: red;
    }
    .btn-container{
        width: 100%;
        margin-top: 2%;
        /* text-align: center; */
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7%;
        width: 40%;
        height: 40px;
        margin-left: 30%;
        font-size: 1.5rem;
        color: white;
        border-radius: 8px;
        border-style: none;
        cursor: pointer;
    }
    #stop{
        background-color: #213363;
    }
    
    #start{
        background-color:#B31312 ;
    }
    #reset{
        background-color: #47A992;
    }

}